:root {
  --clr-primary-300: #FBF9FA;
  --clr-primary-500: #FD0054;
  --clr-neutral-500: #A80038;
  --clr-primary-900: #2B2024;

}
html {
  font-size: 16px;
  box-sizing:border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #2B2024;
}

.bg-img-row-2 {
  background-color: #2B2024;
}


.row-1 {
  grid-area: "row-1";
  display: grid;
  justify-content: center;
  background-color:var(--clr-primary-300);
}

.row-2 {
  grid-area: "row-2";
  display: grid;
  background-color: var(--clr-primary-300);
}

.fa-bars {
  color: var(--clr-primary-900);
  border: 2px dotted var(--clr-neutral-500);
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 0.1rem;
}

.row-2 {
  grid-area: "row-2";
  display: grid;
}

.bg-img-row-2::before {
  content: "";
  background-image: url("./row-2-bg.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
}

.bg-img-row-2{
  background-color:var(--clr-primary-500);
  padding: 4rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.our-mission {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.our-mission h1 {
  font-family: 'Island Moments', cursive;
  color: #FD0054;
  font-size: 4rem;
  text-decoration-line:overline;
  text-shadow: 2px 5px 1px #FBF9FA;
  background:radial-gradient(circle at 5%, #FD0054, #A80038 50%, #FD0054 75%, #A80038 100%);
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  border: #A80038 solid 5px;
  border-radius: 5rem;
  border-top: none;
  border-bottom: none;
  }

.our-mission-p {
  text-indent: 10%;
  color:#FBF9FA;
  padding: 0 2rem;
  font-family: 'Island-Moments', cursive;
}

.our-mission smaller {
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.get-to-know-us {
  background-color: #A80038;
}

.row-3 {
  display:grid;
  height: 47rem;
  margin-top: 0.5rem;
}

.header {
  font-weight: bold;
  font-family: 'Island-Moments', cursive, sans-serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 0.1rem solid  #efefef;
  background-color: #ffffff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--clr-primary-900);
  color: #FBF9FA;
}

figure {
  display: flex;
  justify-content: center;
}
figcaption {
  color:#FBF9FA;
  padding: 0 2rem;
  font-family: 'Island-Moments', cursive;
}

.face-1 {
  border-radius: 20rem;
}

.face-2 {
  border-radius: 20rem;
  height: 22rem;
}

.container-icons {
  background-color: #ffffff;
  padding-bottom: 8rem;
}

p.text {
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-900);
  padding:0 5rem 2rem 5rem;
  margin:0;
  display:flex;
  justify-content: center;
}

h1.name {
  background-color: var(--clr-primary-900);
  padding:1.5rem 0 2rem 0;
  margin:0;
  justify-content:center;
  display:flex;
  font-size:2rem;
  color:var(--clr-primary-300)
}

.img {
  padding:2rem;
  margin:0;
  background-color: var(--clr-primary-900);
  justify-content:center;
  display:flex;
}

.container-icons{
  background-color: var(--clr-primary-900);
  padding: 2rem 0 3rem 0;
  display:flex;
  justify-content: center;
}

.icons {
  color:var(--clr-primary-300);
  border-radius:2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--clr-primary-900);
  display:flex;
  justify-content: center;
  justify-content: space-between;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-900);
}

.fa-twitter {
  padding: 0 2rem 0;
}

#text-card-1 {
  padding:0 5rem 1.15rem 5rem;
}

.faces .card {
  display:grid;
  height: 100vh;
}

.row-4 {
  width:100vw;
}

.stylists,
.dress-center,
.crafting-right {
  display: grid;
}

.stylists {
  background-image: url("./stylists.png");
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  width: 45rem;
}

.stylists-text {
  @extend .our-mission-p
}
.stylists-text {
  background-color:var(--clr-primary-900);
  color:var(--clr-primary-500);
  padding-top: 1rem;
  text-shadow: var(--clr-primary-300) 1px 1px 2px;
  border-radius: 2rem;
  outline: 2px solid black;
  display:flex;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  background-size: cover;
  width:37rem;
}

.dress-center-bg {
  background-image: url("./wedding-shop.jpg");
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 45rem;
}

.text-dress-center {
  background-color: var(--clr-primary-900);
  border-radius: 0.5rem;
  color:var(--clr-primary-300);
  position: relative;
  top: 12rem;
  left: 8.5rem;
  width: 50vw;
}

/* Time for some media queries */

@media only screen and (max-width: 669px) {
  html {
    font-size: 10px;
  }
  body {
    background-color:var(--clr-primary-300);
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .baldy {
    display: none;
  }
  .nav-bar-container {
    display:none;
  }
}

@media only screen and (min-width:670px) {

  html {
    font-size: 16px;
  }
  .grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
  }

  footer {
    padding: 20px;
    text-align: center;
    background-color: #2b2024;
    color: #fbf9fa;
    display: grid;
    grid-column-start: -3;
  }
  
.icon-container {
  transform: translateX(50%);
}
.row-2 {
  grid-area: 2;
}

.faces-1 {
  grid-area: 2;
  grid-row: span 2;
  height: 105%;
}

.faces-2 {
  grid-area: 3;
  grid-column: 2;
}

.stylists-text {
  padding: 6rem 0 6rem 0;
  width: 100%;
}

.our-mission {
  grid-row: span 2;
  justify-content: center;
}

.bg-img-row-2 {
border-bottom-left-radius: 2rem;
border-bottom-right-radius: 2rem;
}

.get-to-know-us {
  grid-area: 1;
  grid-column: 1;
  grid-column: span 2;
}
.row-4 {
  grid-column: 2;
  grid-row: 2;
  width:auto;
  height: auto;
}

.text-dress-center {
  left: 5rem;
}

.dress-center-bg {
  padding: 10% 0 0 0;
}
.face-2 {
  padding: 0;
}
.faces-1 {
  height:15rem;
}

.face-1 {
  height: 80%;
}

.face-2 {
  height: 110%;
}

.fa-bars {
  display: none;
}

  .tiny {
      display: none;
  }

  .logo {
    height: 6.5rem;
}


.nav-bar-left-container-1 {
    background-color: #2b2024;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.nav-bar-left-container-1 {
    padding-left: 5rem;

    img {
        height: 7rem;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.icon-container {
    display: flex;
    justify-content: end;
    padding-top: 1.2rem;
    padding-right: 2rem;
    padding-left: 3rem;
    background-color: #2B2024;

    .dropdown {
        display: none;

        .btn {
            box-shadow: none !important;
            color: #FD0054;
            font-weight: bold;
            border: none;
            background-color: #2b2024;
        }

        .dropdown-menu {
            background-color: #2b2024;
        }
    }
}

.fa-envelope {
    color: #FD0054;
}

.fa-heart,
.fa-user,
.fa-shopping-cart,
.fa-sign-out-alt {
    @extend.fa-envelope;
}

.contact-us,
.my-account,
.wish-list,
.shopping-cart,
.check-out {
    padding: 1rem;
}

.nb-pic1,
.nb-pic2 {
    height: 8rem;
    width: 8rem;
    padding: 0 0 1rem 0;
}
.hearts {
  display: none;
}
.nav-bar-container {
  display: flex;
  width: 100 vw;
  background-color:#2B2024;
}
.container-icons-card-1 {
  padding-bottom: 9rem;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #2b2024;
  color: #fbf9fa;
  display: grid;
  grid-column-start: -3;
  grid-column: span 2;
}

}




/* You can also inherit your grid template areas !!!!!!! */


/* Everything for the animation  */

.hearts {
  width: 100vw;
  min-width: 10rem;
  height: 25%;
  min-height: 25rem;
  position: absolute;
  bottom: 16rem;
  right: 0.5rem;
  z-index: 10;
}

.heart {
  position:absolute;
  top: 1.5rem;
  left: 18rem;
  height: 20%;
  min-height: 2.5rem;
  width: 20%;
  min-width: 2.5rem;
  transform: rotate(45deg) translateX(15rem) rotate(-45deg);
  animation: floating-heart 10s linear infinite;
  mask-image: url("./hand-holding-heart-solid.svg");
  background-color: #A80038;
  mask-repeat:no-repeat;
  mask-position: bottom;
  opacity: 1;
  /* animation: floating-heart 10s infinite cubic-bezier(0.5, 0.5, 0.5,0.5); */
}


@keyframes floating-heart {
	from { 	transform: rotate(0deg) translateX(15rem) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(15rem) rotate(-360deg); }
}


/* @keyframes floating-heart {
  0% {
    opacity: 0;
    bottom: 0%;
    left: 0%;
  }
  10% {
    opacity: 1;
    top: 20%;
    bottom: 80%;
    left: 100%;
  }
  20% {
    bottom: 80%;
    left: 10%;
  }
  30% {
    bottom: 80%;
    left: 50%;
  }
  40% {
    opacity: 1;
    bottom: 80%;
    left: 5%;
  }
  48% {
    opacity: 0;
    bottom: 100%;
    left: 60%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    left: 90%;
  }
}  
  
.heart:nth-child(1) {  
  animation-delay: 1s;
}

.heart:nth-child(2) {
  animation-delay: 2.5s;
}

.heart:nth-child(3) {
  animation-delay: 3.5s;
}

.heart:nth-child(4) {
  animation-delay: 4.5s;
}
.heart:nth-child(5) {  
  animation-delay: 0.8s;
}

.heart:nth-child(6) {
  animation-delay: 2.7s;
}

.heart:nth-child(7) {
  animation-delay: 3.3s;
}

.heart:nth-child(8) {
  animation-delay: 4.1s;
}
.heart:nth-child(9) {
  animation-delay: 4s;
}
.heart:nth-child(10) {  
  animation-delay: 0.3s;
}

.heart:nth-child(11) {
  animation-delay: 2.4s;
}

.heart:nth-child(12) {
  animation-delay: 0.65s;
}

 */