* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: 'Luxurious Roman', cursive;
  background-color: #fbf9fa;
}

.head-bar {
  background-color: #2b2024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 8.5rem;
}

.head-bar .logo {
  height: 8rem;
}

.nav-bar {
  width: 100vw;
}

.nav-bar #dresslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 2rem 0 2rem;
  background-color: #a80038;
}

.nav-bar #dresslist .dropdown {
  display: none;
}

.nav-bar #dresslist .dropdown .btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #FD0054;
  font-weight: bold;
  border: none;
  background-color: #a80038;
}

.nav-bar #dresslist .dropdown .dropdown-menu {
  background-color: #2b2024;
  text-align: center;
  opacity: 0.9;
}

.nav-bar #dresslist li {
  padding: 1rem 0 1rem 0;
  display: inline-block;
  text-decoration: none;
}

.nav-bar #dresslist li a {
  text-decoration: none;
  color: #fbf9fa;
  font-size: 1.1rem;
}

.nav-bar #dresslist li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* The alert message box */
.alert {
  z-index: 1000;
  position: absolute;
  padding: 20px;
  background-color: rgba(102, 0, 34, 0.9);
  color: white;
  margin: 5% 20% 15px 20%;
  text-align: center;
}

.alert p {
  font-size: 1rem;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.promInfo {
  background-color: rgba(168, 0, 56, 0.2);
  margin: 2rem;
  text-align: center;
}

.promInfo p {
  font-size: 16px;
  padding: 0.5rem 8vw 1rem 8vw;
}

.Slideshow .carousel {
  margin: 2rem 0 2rem 30vw;
  width: 40vw;
}

.Slideshow .carousel .carousel-item img {
  width: 100%;
  height: auto;
  margin: auto;
}

.Slideshow .carousel .carousel-control-next-icon, .Slideshow .carousel .carousel-control-prev-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #a80038;
  border-radius: 10px;
}

.containerr {
  background-color: rgba(168, 0, 56, 0.2);
  color: #2b2024;
}

.containerr .sideImage {
  width: 95%;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #2b2024;
  color: #fbf9fa;
}

@media only screen and (max-width: 840px) {
  .nav-bar #dresslist li a {
    font-size: 0.7rem;
  }
  .promInfo p {
    font-size: 10px;
  }
  .Slideshow .carousel {
    margin-top: 2rem;
    margin-left: 25%;
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .nav-bar #dresslist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-bar #dresslist .dropdown {
    display: inline;
    margin-right: 7vw;
  }
  .nav-bar #dresslist #listItems a {
    display: none;
  }
  footer #footerMaterial {
    display: none;
  }
}
/*# sourceMappingURL=prom-dresses.css.map */