* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.logo {
    height: 15vh;
    width: 13vh;
}

.nav-bar-container {
    background-color: #2b2024;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

.nav-bar-left-container-1{
    background-color: #2b2024;
    padding:1rem 0 0 1rem;
    display:flex;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: end;
    padding-top: 2rem;
}

.fa-envelope {
    color: #FD0054;
}

.fa-heart,
.fa-user,
.fa-shopping-cart,
.fa-sign-out-alt {
    @extend.fa-envelope;
}

.contact-us,
.my-account,
.wish-list,
.shopping-cart,
.check-out {
    padding: 1rem;
}

.nb-pic1,
.nb-pic2 {
    height: 9.5rem;
    width: 9.5rem;
    padding: 1rem;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 12s slider infinite;
    }
    
    #slider figure img {
    width: 20%;
    float: right;
    }
    
    @keyframes slider {
    0% {
    left: 0;
    }
    20% {
    left: 0;
    }
    25% {
    left: -100%;
    }
    45% {
    left: -100%
    }
    50% {
    left: -200%
    }
    70% {
    left: -200%
    }
    75% {
    left:-300%
    }
    95% {
    left: 300%
    }
    100% {
    left: -400%
    }
    }

.carousel-container {
    display: flex;
    flex-direction: row;
}


.navs {
    width: 100vw;
}

#dresslist {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem 0 2rem;
    background-color: #a80038;


    li {
        padding: 1rem 0 1rem 0;
        display: inline-block;
        text-decoration: none;

        a {
            text-decoration: none;
            color: #fbf9fa;
            font-size: 1.8rem;
        }
    }
}

aside {
    margin: 2rem 2rem 0 2rem;

    .sideNavBar {
        font-size: 1.5rem;
        width: 200px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        a {
            display: flex;
            justify-content: center;
            padding: 0.5em 0 0.5em 0;
            border: solid 1px;
            border-radius: 5px;
            text-decoration: none;
            color: #2b2024;
        }
    }
}

.container {
    display: flex;
    flex-direction: row;

}

.carousel {
    margin-left: 23rem;
    width: 22.61vw;
    height: 63.9vh;
}

.carousel-item {
    width: auto;
    text-align: center;

}